section{
    background-color: red;
}
#product-overiview {
    background: royalblue;
}
# plans{
    background: chocolate;
}
h1 {
    color: rgb(255, 255, 255);
    font-family: 'Galada', cursive;
    font-size: 65px;

}